@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);
/* ลิ้ง promt font */
@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* ลิ้ง lato font */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body,html {
  font-family: "Open Sans", sans-serif;
  color: rgb(120, 120, 120);
  width: 100% !important;
  overflow-x: hidden;
}
/* navigation */
.container {
  width: 100%;
  
}
#menu {
  padding: 20px;
  transition: all 0.8s;
  margin-bottom: 0;
}
.navbar-header{
    color: rgb(255, 115, 0);
}
#collapse-1 {
    width: 100%;  /* ขยายความกว้างให้เต็มหน้าจอ */
    height: auto; /* กำหนดให้สูงตามเนื้อหา */
    padding: 10px;
}
#menu.navbar-default {
  background-color: #fff;
}
#menu a.navbar-brand {
  font-size: 20px;
  color: rgb(255, 115, 0);
  font-weight: bold;
  letter-spacing: 2px;
  margin: 7px 20px;
}
#menu a.navbar-brand img{
  width: 90px;
  height: 90px;
  margin-top: -25px;
  margin-left: -20px;
}
#menu.navbar-default .navbar-nav li a:hover {
  border-bottom: 2px solid rgb(255, 115, 0); /* สร้างเส้นใต้ */
  padding-bottom: 10px; /* เว้นระยะห่างระหว่างข้อความกับเส้นใต้ */
  transition: 0.2s;
  color: rgb(255, 115, 0);
}
.navbar-collapse ul {
  margin-left: 320px;
}
.navbar-collapse ul li {
  padding-left: 15px;
  font-size: 18px;
}
.navbar-collapse ul li a.active {
  color: rgb(255, 115, 0);
  font-weight: bold;
}
.navbar-right {
  display: inline-flex;
  justify-content: center; 
  text-align: center;
  height: 40px;
}
.login {
  margin-right: 20px;  /* ช่องว่างระหว่างปุ่ม */
}
.sign{
  margin-right: 50px;  /* ช่องว่างระหว่างปุ่ม */
}
/* สไตล์สำหรับปุ่ม Login และ Sign up */
.login,.sign {
  display: flex; /* ใช้ Flexbox */
  justify-content: space-between; /* จัดระยะห่างระหว่างองค์ประกอบ */
  align-items: center; /* จัดให้กลางในแนวตั้ง */
  background-color: #ffffff; /* สีพื้นหลัง */
  color: rgb(28, 28, 28); /* สีข้อความ */
  border: none; /* ลบเส้นขอบ */
  padding: 25px 50px; /* ขนาดของปุ่ม */
  text-align: center; /* จัดข้อความให้อยู่ตรงกลาง */
  text-decoration: none; /* ลบการขีดเส้นใต้ */
  font-size: 16px; /* ขนาดตัวอักษร */
  border-radius: 5px; /* ย่อมุมปุ่ม */
  cursor: pointer; /* เปลี่ยนเคอร์เซอร์เมื่อ hover */
  transition: background-color 0.3s ease; /* เพิ่ม transition เมื่อ hover */
}

/* สไตล์เมื่อ hover บนปุ่ม */
.login:hover,.sign:hover {
  background-color: rgb(255, 115, 0); /* สีเมื่อ hover */
  color: white;
}
#active {
  background-color: rgb(255, 115, 0); /* สีเมื่อ hover */
  color: white;
}


.contact-section {
  width: 100%;
  text-align: center;
  color: #ffffff;
  background-image: url(https://img.freepik.com/free-photo/woman-checking-time-from-her-phone_53876-129658.jpg?t=st=1731617763~exp=1731621363~hmac=b14646636c287f88b318ff8705fb68c1acb7020417796f0c1f414278ec70f93c&w=1380);
  background-size: cover;
  height: 440px;

}

.contact-section h2 {
  margin: 0;
  padding-top: 50px;
  font-size: 40px;
  margin-bottom: 20px;

}

.contact-section p {
  font-size: 30px;
  margin-bottom: 40px;
  text-align: center;

}

.contact-container {
  padding-top: 80px;
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.contact-box {
  background-color: #f2681b;
  color: #ffffff;
  width: 310px;
  height: 250px;
  padding-top: 30px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.contact-box span{
  font-size: 50px;
}
/* .contact-box i {
  font-size: 60px;
} */

.contact-box h3 {
  font-size: 25px;
}

.contact-box p {
  font-size: 20px;
}
.contact-box:hover{
  transform: scale(1.05);
  cursor: pointer;
}


/* บริการณ์ */

.ser{
  margin-top: 200px;
  text-align: center;
  color: #000;
}
.ser h1{
  font-size: 30px;
}
.ser p{
  font-size: 20px;
}
.ser-box{
  display: flex;
  margin-left: 70px;
  margin-top: 40px;
  width: 95%;
  height: 590px;
}
.ser-box-m{
  display: none;
}

.ser-l img{
  width: 100%;
  height: 100%;
  
}
.ser-box-m .ser-l img{
  width: 340px;
  height: 500px;
}

.ser-r{
  width: 60%;
  height: 100%;
  text-align: center;
  color: #000;
}
.ser-r .box-1-ser{
  float: left;
  width: 400px;
  height: 150px;
  background-color: #f2681b;
  margin-left: 25px;
  margin-bottom: 26px;
  border-radius: 10px;
  border: 2px solid #f2681b;
  font-size: 25px;
  color: #ffffff;
  cursor: pointer;
}

.ser-r .box-2-ser{
  float: left;
  width: 400px;
  height: 150px;
  background-color: #fff;
  margin-left: 25px;
  margin-bottom: 26px;
  border-radius: 10px;
  border: 2px solid #f2681b;
  font-size: 25px;
}
.ser-r .box-2-ser:hover{
  background-color: #f2681b;
  color: #ffffff;
  cursor: pointer;
}
.ser-r .box-1-ser span,.ser-r .box-2-ser span{
  font-size: 40px;
}
.ser-r .C{
  margin: 10px;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #fff;
  border: 2px solid #f2681b;
}
.ser-r .icon{
  font-size: 40px;
  color: #f2681b;
}
.ser-r .icon-A{
  font-size: 40px;
  color: #ffffff;
}
.ser-r .C-A{
  margin: 10px;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #f2681b;
  border: 5px solid #ffffff;
}

.ser-r .ever-ser{
  
  width: 540px;
  height: 70px;
  float: left;
  background-color: #fff;
  margin-left: 25px;
  border-radius: 10px;
  border: 2px solid #f2681b;
}

.ser-r .ever-ser p{
  margin-top: 15px;
  font-size: 25px;
  text-align: left;
  margin-left: 10px;
}

.ser-r .send{
  margin-left: 10px;
  width: 260px;
  height: 70px;
  border-radius: 10px;
  border: 2px solid #f2681b;
  background-color: #f2681b;
  font-size: 30px;
  color: #ffffff;
}

.send span{
  margin-left: 10px;
  font-size: 30px;
}


/* <!-- คำถามที่พบบ่อย --> */
.question-box {
  margin: 0 auto;  /* ใช้ margin auto แทน */
  width: 90%;      /* ลดความกว้างลง */
  max-width: 1200px; /* กำหนดความกว้างสูงสุด */
  display: flex;
  cursor: pointer;
  padding: 0 15px;  /* เพิ่ม padding ด้านข้าง */
  box-sizing: border-box;
}


.question h1{
margin-top: 40px;
font-size: 30px;
color: #000;
margin-left: 350px;
margin-bottom: 40px;
}


.q-box-l{
  width: 50%;
  margin-left: -100px;
}

.q-box1{
  width: 700px;
  height: 60px;
  background-color: #f2681b;
  margin-bottom: 16px;
  border-radius: 15px;
  color: #ffffff;
}

.q-box1 h1{
  margin: 0;
  font-size: 25px;
  margin-left: 20px;
  padding-top: 15px;
  float: left;
  color: #ffffff;
}

.q-box1 span{
  padding-top: 10px;
  font-size: 30px;
  float: right;
  padding-right: 10px;
  font-size: 50px;
  
}
.q-box1 span:hover{
cursor: pointer;
color: #000;

}

.q-box-r{
  width: 50%;
}
.q-box-r img{
  margin-left: 150px;
}
.question .q-box-r-m img{
  display: none;
}
.question .q-box-r-m img{
  width: 340px;
  height: 400px;
}

/* footer */
.footer {
    background-color: #F4B739;
    margin-top: 60px;
    color: #000;
    padding: 40px;
    display: flex;
    justify-content: space-around;
  }
  .footer div {
    max-width: 200px;
  }
  .footer h3 {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .footer h4 {
    font-size: 30px;
    margin-bottom: 15px;
  }
  .footer h4 img{
    width: 90px;
    height: 90px;
    margin-left: -20px;
  }
  .footer p{
    margin-top: -20px;
  }
  .footer p, .footer a {
    font-size: 0.9em;
    line-height: 1.6;
    color: #000;
    text-decoration: none;
  }
  .footer a:hover {
    text-decoration: underline;
  }
  .footer-bottom {
    background-color: #1D1D1D;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    font-size: 0.8em;
  }


  /* Mobile */
@media (max-width: 768px) {
    #menu a.navbar-brand {
      margin: 0;
      padding-top: 20px;
    }
    #menu a.navbar-brand img{
      width: 75px;
      height: 75px;
      margin-top: -22px;
      margin-left: -20px;
    }
    .navbar-collapse ul {
      margin: 0;
      text-align: center;
    }
    .navbar-center li{
        margin-left: 10px;
    }
    .navbar-right {
        margin: 15px;
        text-align: center;
    }

    .contact-section {
      width: 100%;
      height: 1150px;
      background-image: url(https://img.freepik.com/free-photo/woman-checking-time-from-her-phone_53876-129658.jpg?t=st=1731617763~exp=1731621363~hmac=b14646636c287f88b318ff8705fb68c1acb7020417796f0c1f414278ec70f93c&w=1380) ;
      background-size: cover;
      background-position: 65% 35%; /* กำหนดให้ภาพอยู่ตรงกลาง */
    }
    .contact-section h2 {
      padding-top: 50px;
      font-size: 35px;
      margin: 0 20px;
    }
    .contact-section p {
      font-size: 20px;
      margin: 20px 10px;
      text-align: center;
    
    }
    .contact-container {
      padding-top: 30px;
      display: flex;
      justify-content: center;
      gap: 40px;
      flex-wrap: wrap;
    }
    
    .ser-box-m{
      display: block;
      margin-top: -150px;
    }
    .ser-box .ser-l img{
      display: none;
    }
    .ser-r .box-1-ser , .ser-r .box-2-ser{
      width: 340px;
      height: 150px;
      margin-left: -45px;
      margin-top: -5px;
    }
    .ser-r .ever-ser{
      margin-top: -5px;
      width: 340px;
      height: 50px;
      float: left;
      margin-left: -45px;
    }
    
    .ser-r .ever-ser p{
      margin-top: 10px;
      font-size: 20px;
      text-align: left;
      margin-left: 10px;
    }
    
    .ser-r .send{
      width: 160px;
      height: 45px;
      font-size: 20px;
      margin-top: 20px;
    }
    .send span{
      margin-left: 10px;
      font-size: 20px;
    }
    .question{
      margin-top: 580px;
      display: flex;
      flex-direction: column;
      
    }
    .question-box{
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      margin-left: 25px;
      margin-top: -20px;
    }
    
    .question h1{
    margin-top: 20px;
    font-size: 30px;
    margin-left: 90px;
    }
    
    
    .q-box1{
      width: 340px;
      height: 50px;
    }
    
    .q-box1 h1{
      margin: 0;
      font-size: 16px;
      margin-left: 20px;
      padding-top: 15px;
      text-align: center;
    }
    
    .q-box1 span{
      padding-top: 10px;
      font-size: 30px;
      float: right;
      padding-right: 10px;
      font-size: 30px;
    }
    .q-box-l{
      width: 100%;
      margin-left: -15px;
    }
    .q-box-r{
      width: 100%;
    }
    .question .q-box-r-m img{
      display: flex;
      margin-left: 25px;
    }
    .question .q-box-r-m img{
      margin-left: 25px;
    }
    .question-box .q-box-r img{
      margin-bottom: -800px;
      visibility: hidden;
    }
    /* .q-box-r img{
      width: 340px;
      height: 400px;
    } 
     */
    

    .footer {
      display: flex;
      flex-wrap: wrap;
    }
    .footer div {
      max-width: 768px;
    }
    .footer p {
      text-align: center;
    }
    .footer h4 {
      font-size: 30px;
      margin-bottom: 15px;
      text-align: center;
    }
    #legal{
      margin-left: 30px;
    }
    #follow{
      margin-right: 215px;
    }
  }